<h1>Admin::Dashboard#show</h1>
<section>
  <div class="panel panel-default">

    <h4> Number of products in the database</h4>
    <h1> 22</h1>
  <div>
</section>

<section>
  <div class="panel panel-default ">

    <h4> Number of categories in the database</h4>
    <h1> 34</h1>

  <div>
</section>