<h1>Admin::Dashboard#show</h1>
<section>
  <div class="panel panel-default dashboard">

    <h4> Number of products in the database</h4>
    <h1> <%= @product_count%></h1>
  <div>
</section>

<section>
  <div class="panel panel-default dashboard">

    <h4> Number of categories in the database</h4>
    <h1> <%= @category_count%> </h1>

  <div>
</section>



